// for template theme background image
$theme1: "../images/themes/theme1.jpg";
$theme3: "../images/themes/theme3.jpg";
$theme4: "../images/themes/theme4.jpg";
$theme5: "../images/themes/theme5.jpg";
$theme6: "../images/themes/theme6.jpg";
$theme-baoquan: "../images/themes/theme-baoquan.png";
$theme-shibei: "../images/themes/theme-shibei.jpg";
$theme-certificate: "../images/themes/theme-certificate.jpg";
